<h1>Search Specific UID</h1>
{% if current_role_id == 4 %}
{{ first_name }}  {{ last_name }} | account_status:{{ account_status }} | email:{{ email }} | track:{{ track }} | role:{{ current_role_name }}
| parent: {{ pg_firstname }} {{ pg_lastname }} | year: {{ year_lvl }} | school: {{ school_name }} 
| join permission: {{ join_perm }}
{% else %}
{{ first_name }}  {{ last_name }} | is_active:{{ is_active }} | email:{{ email }} | track:{{ track }} | account_status:{{ account_status }} | role:{{ current_role_name }}
| institution: {{ ment_inst }} | reason: {{ ment_reason }} | max groups: {{ ment_max_groups}}
{% endif %}
